[submodule "Clawdbot-feishu"]
	path = Clawdbot-feishu
	url = https://github.com/m1heng/Clawdbot-feishu.git
	branch = main

[submodule "qmd"]
	path = qmd
	url = https://github.com/tobi/qmd.git
	branch = main

[submodule "skills/brainrepo"]
	path = skills/brainrepo
	url = https://github.com/codezz/brainrepo.git
	branch = main

[submodule "videocut-skills"]
	path = videocut-skills
	url = https://github.com/Ceeon/videocut-skills.git
	branch = main
